body {
    background-image: url(./assets/background.jpg);
    background-size: cover;
    z-index: -1;
    /* background-position: center;
    background-repeat: no-repeat; */
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titlesection {
    text-align: right;
    padding-right: 5%;
}

.title {
    font-size: 4rem;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;

}

.subheading {
    padding-top: 0%;
    font-size: 1.1rem;
}

ul {
    display: flex;
    gap: 20px;
}

li {
    list-style: none;
}


img {
    border-radius: 20px;
    display: block;
    margin: 10px auto;
}

.image {
    text-align: center;
}

a {
    background-color: darkorange;
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    margin: 5px;
    font-size: 16px;
    border: none;
    box-shadow: 4px 4px 10px rgb(8, 0, 255);
}

