body {
    background-image: url(./assets/background.jpg);
    background-size: cover;
    z-index: -1;
    /* background-position: center;
    background-repeat: no-repeat; */
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.navcontainer {
    display: flex;
    gap: 20px;
}

li {

    list-style-type: none;
    text-decoration: underline;
}

a {
    color: white;
    text-decoration: none;
}

.name {
    font-family: 'Times New Roman', Times, serif;
    font-size: 4rem;
    margin-bottom: 0px;
    text-align: right;
    margin-right: 5%;
}

.heading {
    display: flex;
    align-items: flex-end;
}

.subheading {
    margin-left: auto; 
    margin-right: 5%;
}

.headshot, .partyphoto {
    border-radius: 5%;
    background-size: cover;
    object-fit: cover;
    display: block;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    flex-direction: column;
}

.cvbutton {
    background-color: darkorange;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.partyphoto {
    padding-bottom: 100px;
}